* {
  /* color: red; */
  /* border: 2px solid red; */
  /* padding: 20px; */
  box-sizing: border-box;
}

.kotak {
  color: yellowgreen;
  padding: 20px;
  border: 5px dotted red;
  height: 400px;
  /* width: 500px; */
  /* max-width: 500px; */
  /* min-width: 500px; */
  margin: 0px 50px;

  overflow: scroll;
}

img {
  /* width: 00px; */
}

p {
  /* max-width: 600px;
  min-width: 500px; */
}

button {
  width: 400px;
}

.hilang {
  display: none;
  /* visibility: hidden; */
}
